:root{
    --corBackground: #3A365E;
    --corFonteNormal: #CCC6FF;
    --corFonteAlternativa: #8580AF;
}


body{
    background-color: #3A365E;
    background-image: url(../img/pedraFeiticeira/textura.png), linear-gradient(to bottom, var(--corBackground), #504C84);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
header{
    background-color: #332f50;
    color: var(--corFonteAlternativa);
}

footer{
    background-color: var(--corBackground);
    position: relative;
}
footer h2, footer h3, footer a:hover{
    color: var(--corFonteNormal);
}
footer a{
    color: var(--corFonteAlternativa);
}

.menu{
    background-color: var(--corBackground);
}
.menu a{
    color: var(--corFonteAlternativa);
}
.menu li:hover{
    background-color: #4F4A79;
}
.lista{
    border-color: var(--corFonteAlternativa);
    color: var(--corFonteAlternativa);
}
#sublista{
    background-color: #26214A;
}
#sublista li:hover{
    background-color: #343055;
}


main{
    font-family: 'Ruwudu';
    color: var(--corFonteNormal);
    position: relative;
}
main section:first-child{
    display: flex;
    padding: 100px 50px;
}
main section p{
    padding: 10px 0;
}

main section:first-child div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

main section:first-child div:first-child img{
    width: 75%;
    border-radius: 10px;
}


main section:first-child div:nth-child(2){
    width: 60%;
    padding: 0 20px;
    text-align: center;
}
.textoEspaco img{
    width: 70%;
    margin-bottom: 30px;
}



main section:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding: 20px;
    padding-bottom: 70vh;
}

section:nth-child(2) .textoEspaco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 50px;
    text-align: center;
}
section:nth-child(2) .textoEspaco p:last-child{
    padding-top: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 20px;
    background-color: #3A365E;
    border-radius: 10px;
    text-align: center;
}
.card img{
    width: 80%;
    margin-bottom: 30px;
    border-radius: 5px;
}
.card p{
    padding: 0 50px;
}



.rochas{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.farol{
    position: absolute;
    width: 30%;
    left: 15vw;
    bottom: -10vw;
    z-index: -1;
}



@media screen and (min-width: 471px) and (max-width: 1023px){
    main section{
        padding-left: 10px;
        padding-right: 10px;
    }
    section:first-child .textoEspaco{
        padding: 0;
    }
    section:first-child .textoEspaco img{
        width: 100%;
        margin-bottom: 10px;
    }

    main section:first-child div:first-child img{
        width: 90%;
    }


    main section:nth-child(2){
        padding: 0 10px 50vh 0;
        gap: 25px;
    }
    main section:nth-child(2) .textoEspaco{
        padding: 0 10px;
    }
    section:nth-child(2) .textoEspaco p:last-child{
        padding-top: 50px;
    }
    .card{
        width: 40%;
    }
    .card img{
        width: 100%;
        margin-bottom: 20px;
    }
    .card p{
        padding: 0 10px;
    }
}

@media screen and (max-width: 470px){
    main section{
        padding: 0;
    }
    main section:first-child{
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: row;
        gap: 40px;
    }

    main section:first-child div:nth-child(2){
        width: 100%;
        padding: 0;
        text-align: center;
        grid-row: 1;
    }
    .textoEspaco img{
        width: 90%;
        margin-bottom: 10px;
    }

    main section:first-child div:first-child{
        width: 100%;
        grid-row: 2;
    }
    main section:first-child div:first-child img{
        width: 100%;
    }



    main section:nth-child(2){
        display: grid;
        grid-template-columns: auto;
        padding: 0 0 35vh 0;
        gap: 25px;
    }
    .card{
        width: 100%;
        grid-row: 1;
        border-radius: 0;
    }
    
    main section:nth-child(2) .textoEspaco{
        width: 100%;
        padding: 0 10px;
    }
    section:nth-child(2) .textoEspaco p:last-child{
        padding-top: 35px;
    }
}