*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer{
    display: flex;
    height: fit-content;
    padding-bottom: 15px;
}
footer a{
    text-decoration: none;
    transition: font-size 0.1s ease;
}
footer a:hover{
    font-size: 1.2rem;
}
footer h3{
    padding: 5px 0;
}

.logotipoFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2.5% 15px;
}
.logotipoFooter a{
    width: 75%;
}
.logotipoFooter img{
    width: 100%;
}


.infoFooter{
    display: flex;
    justify-content: flex-end;
    text-align: left;
    width: 200%;
}
.infoFooter div{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10%;
}

.infoFooter div:first-child{
    padding-left: 25%;
}
.infoFooter ul{
    display: flex;
    flex-direction: column;
}


.logoFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logoFooter img{
    width: 100%;
    height: fit-content;
    padding: 20%;
    object-fit: cover;
}

@media screen and (min-width: 600px) and (max-width: 1023px){
    footer h2{
        font-size: 1.5rem;
    }
    footer h3{
        font-size: 1.25rem;
    }
    
    .infoFooter div:first-child{
        padding-left: 10%;
    }
}

@media screen and (max-width: 599px) {
    footer h2{
        font-size: 1.5rem;
    }
    footer h3{
        font-size: 1.25rem;
    }

    footer{
        display: grid;
        position: relative;
        padding-top: 20px;
    }

    .infoFooter{
        width: 100%;
    }
    .infoFooter div:first-child{
        padding-left: 12.5%;
    }

    .logotipoFooter{
        width: 75%;
        position: relative;
        left: 50%;
        translate: -50%;
    }
    .logoFooter{
        display: none;
    }
}