:root{
    --corBackground: #240D12;
    --corFonteNormal: #AEABAC;
    --corFonteAlternativa: #8D3447;
}


body{
    background-image: url(../img/pishtaco/textura.png), linear-gradient(to bottom, #505050, #240D12);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color: var(--corBackground);
    color: var(--corFonteAlternativa);
}

footer{
    background-color: var(--corBackground);
}
footer h2, footer h3, footer a:hover{
    color: var(--corFonteNormal);
}
footer a{
    color: var(--corFonteAlternativa);
}

.menu{
    background-color: #380b15;
}
.menu a{
    color: var(--corFonteAlternativa);
}
.menu li:hover{
    background-color: #4e1521;
}
.lista{
    border-color: var(--corFonteAlternativa);
    color: var(--corFonteAlternativa);
}
#sublista{
    background-color: #1d080d;
}
#sublista li:hover{
    background-color: #160207;
}


main{
    color: var(--corFonteNormal);
    position: relative;
    padding: 20vh 0 55vh 0;
    font-family: 'Special Elite';
}

main section{
    display: flex;
    justify-content: center;
    align-items: center;
}
main section div{
    text-align: center;
}
main section:first-child{
    margin-bottom: 20vh;
}
main section:first-child .direita p:last-child{
    font-weight: 600;
}

.esquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corBackground);
    width: 75%;
    margin-bottom: 30px;
    border-radius: 15px;
}
.card1 img{
    padding: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.textoEspaco{
    width: 85%;
}
.esquerda p{
    padding: 10px 0;
}

.direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    width: 100%;
}
.direita img{
    width: 75%;
    margin-bottom: 75px;
}
.direita p{
    padding: 10px 50px;
}
section:first-child .direita{
    align-self: center;
    width: 70%;
    height: fit-content;
    padding: 30px 0;
    margin: 0 80px;
    background-color: var(--corBackground);
    border-radius: 15px;
}



.montanha{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}



@media screen and (min-width: 471px) and (max-width: 1023px){
    main{
        padding-bottom: 42.5vh;
    }

    .card1{
        width: 95%;
    }
    section:nth-child(2) .direita p{
        padding: 10px 20px;
    }

    section:nth-child(2) .esquerda .textoEspaco{
        width: 90%;
    }
    section:nth-child(2) .esquerda p{
        padding: 10px 0px;
    }

    section:first-child .direita{
        width: 90%;
        margin: 0 30px;
    }
    section:first-child .direita p{
        padding: 0 15px;
    }
    section:first-child .direita img{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 470px){
    main{
        padding-bottom: 25vh;
    }

    main section{
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: row;
    }
    section:first-child .direita{
        width: 100%;
        margin: 0 0 40px 0;
        border-radius: 0;
        grid-row: 1;
    }

    main section:nth-child(2){
        padding: 7.5vh 0 0 0;
    }
    main section:nth-child(2) .direita{
        grid-row: 1;
    }
    .card1{
        width: 90%;
        margin: 10vh 0;
    }

    .textoEspaco{
        width: 100%;
        padding: 0 15px;
    }

    .direita p{
        padding: 10px 15px;
    }
}