:root{
    --corBackground: rgba(87, 46, 84);
    --corFonteNormal: #ceb2bd;
    --corFonteAlternativa: #482a41;
}
*{
    font-family: "Spectral";
    line-height: 2rem;
}


body{
    background-image: url(../img/backgroundNebulosa.png), url(../img/backgroundNebulosa2.png);
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;
    animation: backgroundTrocar 4.75s linear infinite alternate-reverse;
}
@keyframes backgroundTrocar{
    0%{
        background-image: url(../img/backgroundNebulosa.png);
    }
    100%{
        background-image: url(../img/backgroundNebulosa2.png);
    }
}


header{
    background-color: rgba(87, 46, 84, 0.7);
}

footer{
    background-color: var(--corBackground);
}
footer h2, footer h3, footer a:hover{
    color: #E5CDDE;
}
footer a{
    color: var(--corFonteNormal);
}

.menu{
    background-color: var(--corBackground);
}
.menu a{
    color: var(--corFonteNormal);
}
.menu li:hover{
    background-color: rgb(66, 34, 64);
}
.lista{
    border-color: var(--corFonteNormal);
    color: var(--corFonteNormal);
}
#sublista{
    background-color: rgb(46, 23, 44);
}
#sublista li:hover{
    background-color: rgb(27, 11, 26);
}



main{
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
    margin-bottom: 20vh;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    gap: 7.5vh;
    color: var(--corFonteNormal);
    margin-bottom: 10vh;
}
.logo img{
    height: 50%;
    max-height: 60%;
    object-fit: cover;
    animation: diminuirAumentar 7.5s ease-in-out infinite alternate, girarLogo 90s ease infinite;
}


@keyframes diminuirAumentar{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.25;
    }
    100%{
        scale: 1;
    }
}
@keyframes girarLogo{
    0%{
        rotate: 0;
    }
    100%{
        rotate: 360deg;
    }
}


.card{
    background-color: rgba(87, 46, 84, 0.7);
    width: 70%;
    border-radius: 15px;
    padding: 2.5%;
    text-align: center;
    color: var(--corFonteNormal);
}
.card h1{
    margin: 5px 0 25px 0;
}
.card p{
    margin: 1.5% 0;
}
.card p:first-child{
    margin-top: 0;
}
.card p:nth-child(7){
    margin: 7.5% 0;
    font-weight: bolder;
    font-size: 1.7rem;
}
.card p:last-child{
    margin-bottom: 0;
}
.card img{
    width: 82.5%;
    height: 100%;
    margin-top: 5vh;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .logo{
        margin-bottom: 2.5vh;
    }
    .card{
        width: 80%;
    }
    .card h1{
        margin-top: 20px;
    }
    .card p{
        margin: 3.75%;
    }
    .card p:nth-child(7){
        margin: 7.5% 0;
    }
    .card img{
        width: 90%;
    }
}

@media screen and (max-width: 767px){
    .logo{
        margin-bottom: 0vh;
    }
    .card{
        width: 90%;
    }
    .card h1{
        margin-top: 25px;
    }
    .card p{
        margin: 5% 0;
    }
    .card p:nth-child(7){
        margin: 12.5% 0;
    }
    .card img{
        width: 100%;
    }
}